coverage-details {
  width: 94%;
  margin-top: 14px;
}

coverage-details .short-list,
coverage-details .long-list {
  display: none;
  list-style-type: disc;
}

coverage-details .expanded .short-list,
coverage-details .expanded .long-list {
  display: block;
}

coverage-details .collapse-icon,
coverage-details .expand-icon {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 1.3em;
  line-height: 1em;
  width: 22px;
  height: 22px;
  display: block;
  text-align: center;
}

coverage-details .expand-icon {
  border-radius: 13px;
  background-color: white;
  margin: 9px auto 0;
  border: 1px solid black;
}

coverage-details .collapse-icon {
  float: right;
}

coverage-details .collapse-icon:hover,
coverage-details .expand-icon:hover {
  cursor: pointer;
}