coverage-details {
  width: 94%;
  margin-top: 0;
  margin-bottom: 6px;
  background-color: white;
  border-radius: 17px;
  transition: margin-top 1s ease-in-out;
}

coverage-details[expanded] {
  margin-top: 10px;
}

coverage-details article {
  transition-property: height, color, padding;
  transition-duration: 0.7s, 0.8s, 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s, 0.1s, 0.3s;
  overflow: hidden;
}

coverage-details .short-list,
coverage-details .long-list {
  list-style-type: disc;
  list-style-position: inside;
}

@media (max-width: 719px) {
  coverage-details .long-list {
    height: 0;
    overflow: hidden;
  }

  coverage-details .short-list {
    height: auto;
  }
}

@media (min-width: 720px) {
  coverage-details .long-list {
    height: auto;
  }

  coverage-details .short-list {
    height: 0;
    overflow: hidden;
  }
}

@media (max-height: 420px) {
  coverage-details[expanded] {
    margin-top: 7px;
  }
}