offer-item {
  display: block;
  padding: 12px;
}

offer-item section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*
.offer-item-spacer {
  border-color: transparent;
}

@media (max-width: 540px) {
  offer-item,
  .offer-item-spacer {
    flex: 1 1 240px;
    min-width: 240px;
  }
}

@media (min-width: 541px) and (max-width: 700px) {
  offer-item,
  .offer-item-spacer {
    flex: 1 1 228px;
  }
}

@media (min-width: 701px) and (max-width: 923px) {
  offer-item,
  .offer-item-spacer {
    flex: 1 1 240px;
  }
}

@media (min-width: 924px) {
  offer-item,
  .offer-item-spacer {
    flex: 1 1 228px;
  }

}
*/
offer-item .offer-header {
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}