mulberry-app
  offer-item {
    background-color: #7a16c4;
    color: white;
    width: 280px;
    height: 200px;
    padding: 12px;
    margin: 7px;
    border-radius: 17px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

mulberry-app
  offer-item .offer-header {
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

mulberry-app
  offer-item .service-type,
mulberry-app
  offer-item .service-type {
    margin-top: 20px;
  } 