offer-item {
  display: block;
}

offer-item:hover {
  cursor: pointer;
}

offer-item section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px 10px 7px;
}

offer-item .offer-header {
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

:root offer-item {
  --header-padding: 8px;
}

offer-item .duration {
  padding-left: var(--header-padding);
}

offer-item .price {
  padding-right: var(--header-padding);
}

offer-item .icon i {
  text-transform: uppercase;
  color: var(--mulberry-purple);
  font-style: normal;
  font-weight: 900;
  font-size: 1.3em;
  line-height: 1em;
  height: .8em;
  display: block;
  text-align: center;
  user-select: none;
  transition: transform 1s;
}

offer-item[expanded] .icon i {
  transform: rotate(180deg);
}

offer-item .icon {
  transform: rotate(180deg);
}

@media (max-width: 542px) {
  offer-item .offer-header {
    flex-wrap: wrap;
  }

  offer-item .duration {
    padding-left: 0;
    order: 1;
    flex-basis: 46%;
  }

  offer-item .service-type {
    order: 3;
    padding-top: var(--header-padding);
  }

  offer-item .price {
    padding-right: 0;
    order: 2;
    flex-basis: 46%;
    text-align: right;
  }
}


@media (max-height: 600px) {
  offer-item section {
    padding: 10px;
  }

  offer-item .offer-header {
    font-size: 0.9em;
  }
}