warranty-offers {
  display: flex;
  flex-direction: column;
  height: 100%;
}

warranty-offers h2 {
  text-align: center;
  margin-bottom: 17px;
  flex: none;
  letter-spacing: .1em;
  font-size: 2em;
}

warranty-offers .offer-list {
  max-height: 100%;
  overflow-y: scroll;
  flex: auto;
  display: flex;
  flex-direction: column;
  padding-top: 7px;
}

warranty-offers .offer-list > li {
  margin: 0 5px 7px;
  border-radius: 17px;
  background-color: #41621e;
}

warranty-offers .offer-list > li:nth-child(2n) {
  background-color: #165f83;
}

warranty-offers p {
  text-align: center;
  font-size: 1.4em;
}

@media (max-height: 420px) {
  warranty-offers h2 {
    margin-bottom: 7px;
    font-size: 1.2em;
  }

  warranty-offers .offer-list {
    padding-top: 4px;
  }

  warranty-offers .offer-list > li {
    margin-bottom: 5px;
  }
}

@media (max-width: 719px) {
  warranty-offers h2 {
    margin-bottom: 7px;
    font-size: 1.7em;
  }
}