ul,
body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}


:root {
  --mulberry-purple: #3D0625;
}

body {
  background-color: white;
  font-family: verdana;
  color: #1E2023;
}

main,
footer,
header {
  max-width: 1024px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 12px;
}

header {
  height: 5vh;
}

header h1 {
  color: var(--mulberry-purple);
  font-size: 2em;
  letter-spacing: .1em;
}

main {
  min-height: 87vh;
}

footer {
  height: 7vh;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

footer h4 {
  margin-top: 4px;
}

hr {
  border: 8px solid var(--mulberry-purple);
  border-radius: 8px;
  margin: 0;
}

@media (max-width: 420px) and (orientation: portrait) {
  header h1 {
    font-size: 1.3em;
  }

  footer {
    font-size: 1.2em;
  }
 
  @media (min-height: 600px) {
    header h1 {
      font-size: 1.6em;
    }
  }

  @media (min-height: 800px) {
    header h1 {
      font-size: 1.8em;
    }
  }
}

@media (max-height: 420px) and (orientation: landscape) {
  header {
    height: 8vh;
  }

  header h1 {
    font-size: 1.3em;
  }

  hr {
    border-width: 5px;
  }

  main {
    min-height: 80vh;
  }

  footer {
    height: 11vh;
  }

  @media (min-width: 600px) {
    header h1 {
      font-size: 1.5em;
    }
  }

  @media (min-width: 700px) {
    header h1 {
      font-size: 1.8em;
    }
  }
}

@media (min-width: 1024px) {
  @media (orientation: portrait) {
    header h1 {
      font-size: 2.4em;
    }
  }

  @media (orientation: landscape) {
    header h1 {
      font-size: 2.2em;
    }
  }
}