ul,
body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}


:root {
  --mulberry-purple: #3D0625;
}

body {
  background-color: white;
  font-size: 1.3em;
  font-family: verdana;
  color: #1E2023;
}

main,
footer,
header {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
}

header {
  height: 7vh;
}

header h1 {
  color: var(--mulberry-purple);
  font-size: 2.3em;
  letter-spacing: .1em;
}

footer {
  height: 2vh;
}

footer section {
  display: block;
  background-color: var(--mulberry-purple);
  height: 100%;
  border-radius: 8px;
}

main {
  height: 91vh;
}